@import './utils/variables';
@import './utils/global-styles';
@import './utils/container';
@import './utils/is-hidden';

@import './components/advantages-section';
@import './components/backdrop';
@import './components/clients-section';
@import './components/filter';
@import './components/footer';
@import './components/header';
@import './components/hero-section';
@import './components/logo';
@import './components/modal';
@import './components/navigation';
@import './components/portfolio';
@import './components/section-title';
@import './components/socials';
@import './components/specializations-section';
@import './components/team-section';
