.specializations {
    padding-bottom: 94px;

    &__list {
            list-style-type: none;
            display: flex;
            gap: 30px;
        }

    &__wrapper {
        width: 370px;
        height: 294px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 0;
        }

    &__inner {
        width: 100%;
        height: 70px;
        background-color: rgba(47, 48, 58, 0.8);
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        }

    &__direction {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFF;
        }
}