body {
    font-family: 'roboto', sans-serif;
    color: #212121;
    background: #FFF;
}

header {
    border-bottom: 1px solid #ECECEC;
}

ul,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

input {
    padding: 0;
}